<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>缓慢改变颜色.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>685127BC1CEC1BBF00AEDDCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>685127D51CEC1BBF00AEDDCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>685127E01CEC1BBF00AEDDCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
